<app-personajes></app-personajes>

 <br><br>
 <!-- Aqui acemos referencia a nuestra evento(@Output) dentro de nuestro componente personaje-input
  y le asignamos el metodo que ejecutara -->
 <app-personaje-input></app-personaje-input>

 <a routerLink="/">Lista de Personajes</a> |
<a routerLink="/input">Alta de Personaje</a>
<br><br>
<br><br>
<router-outlet></router-outlet>