<label for="nombre">Nombre</label>
<!--Con [(ngModel)] ligamos una variable de nuestro .ts con la el valor de un elemento de nuestro html -->
<input id="nombre" type="text" [(ngModel)]="nombre">
<br>
<!-- Denimos el metodo que se lanzara en el evento click-->
<button (click)="alta()">Agregar</button>